* {
    margin: 0;
    padding: 0;
}

.tic {

    font-size: 2vw;
    background-color: rgb(21, 0, 255);
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 1vw;

}

#main {
    /* border: 2px solid black; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #548687;
    flex-direction: column;

}


.game {
    /* border: 2px solid red; */
    width: 30vw;
    padding: 2vw;
    padding-left: 5vw;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.box {

    height: 18vmin;
    width: 18vmin;
    border-radius: 1vw;
    border: none;
    font-size: 2.3vw;
    font-weight: 900;
    color: brown;
    cursor: pointer;
    background-color: #fff;

}

#Reset {
    padding: 1vw;
    margin-left: 10vw;
    margin-top: 2vh;
    border-radius: 1vw;
    border: none;
    font-weight: 900;
    cursor: pointer;
    
}

.wen {
    /* border: 2px solid red; */
    padding-top: 2pw;
    margin-bottom: 1vw;
}


#winer {


    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 2vw;


}